@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

html, body, #root {
  background-color: #eaeaea;
  color: #3c3744;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  position: relative;
  margin-left: 120px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

main div {
  border-radius: 5px;
  margin: 5px;
}

#side-panel-navbar {
  width: calc(100vw - 740px);
  font-size: 13px;
  position: absolute;
  top: 2px;
  left: 610px;
  height: 25px;
  border-radius: 2px;
  background: #090c9b;
  color: #fff;
}

#side-panel-navbar ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#side-panel-navbar li {
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: left;
  padding: 0 10px;
}

#side-panel-navbar .active {
  background-color: #3e92cc;
}

#side-panel-navbar li:hover:not(.active) {
  background-color: #154ACC;
}

#toggle-container {
  position: absolute;
  top: 2px;
  left: 735px;
}

#toggle-checkbox {
  display: none;
}

#toggle-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 2.5px solid #3c3744;
  border-radius: 15px;
  font-size: 13px;
  color: #3c3744;
  font-weight: bold;
  background: #3c3744;
}

#toggle-button div {
  z-index: 1;
  border-radius: 15px;
  margin: 0.5px;
  padding: 2px 6px;
  text-align: center;
  user-select: none;
  background: none;
}

#toggle-button::before {
  content: "";
  position: absolute;
  width: 50%;
  height: calc(100% - 5px);
  top: 2.5px;
  left: 2.5px;
  border-radius: 15px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

#toggle-checkbox:checked + #toggle-button::before {
  left: calc(50% - 2.5px);
}

#toggle-checkbox:checked + #toggle-button div:first-child {
  color: #fff;
  transition: 0.3s ease-in-out;
}

#toggle-checkbox:checked + #toggle-button div:last-child {
  color: #3c3744;
  transition: 0.3s ease-in-out;
}

#toggle-checkbox:not(:checked) + #toggle-button div:first-child {
  color: #3c3744;
  transition: 0.3s ease-in-out;
}

#toggle-checkbox:not(:checked) + #toggle-button div:last-child {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.no-text-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
