#comparison-panel {
    position: relative;
    height: calc(100vh - 42.5px);
    width: calc(100vw - 740px);
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    box-sizing: border-box;
    transform: translateY(13.5px);
}

#plot-selector {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#pcp, #spider, #hypercube {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

#spider {
    background: #eaeaea;
}

#spider h4 {
    font-size: small;
    margin: 0.4em;
    padding: 0;
    text-align: center;
}

#spider-main, #area-scatterplots {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    background: #fff;
}

#spider-main {
    height: 360px;
    flex-direction: column;
    margin: 0 0 10px;
    justify-content: space-between;
}

#area-comparison {
    margin: 0;
}

#spider-canvas {
    height: 310px;
    width: 700px;
}

#pcp-container, #origin-container, #hypercube-container {
    height: 90%;
    width: 98%;
    box-sizing: border-box;
}

#pcp-container, #origin-container {
    width: 700px;
    height: 650px;
    position: absolute;
    top: 5%;
    left: 1%;
}

#origin-container {
    pointer-events: none;
    background: transparent;
}

#area-scatterplots {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 412.5px);
    flex-wrap: wrap;
    overflow-y: auto;
    margin: 0;
    justify-content: center;
    align-content: flex-start;
}

#area-scatterplots>div {
    margin: 5px 5px 0;
    padding: 0;
}

#area-scatterplots svg {
    padding-top: 5px;
    width: 330px;
    height: 140px;
    border: 1px dashed #000;
    box-sizing: border-box;
}

#hypercube-gui-container {
    position: absolute;
    top: 60px;
    right: 3px;
}

#hypercube-gui-container div{
    border-radius: 0;
}