#comparison-panel {
    position: relative;
    height: calc(100vh - 42.5px);
    width: calc(100vw - 740px);
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    box-sizing: border-box;
    transform: translateY(13.5px);
}

#pcp, #hypercube {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

#plot-selector {
    position: absolute;
    top: 0;
    right: 0;
}

#pcp-container, #hypercube-container {
    height: 90%;
    width: 98%;
    box-sizing: border-box;
}