#dynamic-jcs {
    position: relative;
    padding-top: 16.5px;
    height: calc(100vh - 26px);
    width: calc(100vw - 740px);
    min-width: 705px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(13.5px);
}

#save-dynamic-jcs-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 60px;
    right: 46px;
}

#dynamic-jcs-canvas-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dynamic-jcs-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

#dynamic-jcs-canvas {
    width: 550px;
    height: 550px;
    border: #ddd solid 1px;
}

#dynamic-jcs-panel {
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

#dynamic-jcs-control {
    width: 48%;
    box-sizing: border-box;
}

#dynamic-jcs-result {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 48%;
    height: 100%;
}

#dynamic-jcs-result>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #f1f3f4;
    padding: 0 20px;
    box-sizing: border-box;
}

#dynamic-jcs-control .parameter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}