/* JCS */
#joint-coordinate-system {
    height: calc(100vh - 15px);
    width: 600px;
    background: #eaeaea;
    box-sizing: border-box;
}

#joint-coordinate {
    position: relative;
    height: 600px;
    margin: 0 0 10px 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#show-correlation-button {
     position: absolute;
     top: 0;
     right: 0;
     width: 30px;
     height: 30px;
}

#show-centroid-button {
    position: absolute;
    top: 31px;
    right: 0;
    width: 30px;
    height: 30px;
}

#inspect-button {
    position: absolute;
    top: 62px;
    right: 0;
    width: 30px;
    height: 30px;
}

#display-origin-button {
    position: absolute;
    top: 93px;
    right: 0;
    width: 30px;
    height: 30px;
}

#color-block-button {
    position: absolute;
    top: 124px;
    right: 0;
    width: 30px;
    height: 30px;
}

#joint-coordinate h3{
    margin-bottom: 0;
    margin-top: 10px;
}

#joint-coordinate text{
    font-size: 10px;
    fill: black;
}

.axis-title{
    font-weight: bold;
}

#joint-coordinate-canvas {
    width: 100%;
    height: 490px;
}

#colorscale {
    width: 100%;
    height: 55px;
}

#colorscale-content {
    transform: translate(100px, 20px);
}

#colorscale-axis{
    transform: translate(100.5px, 20px);
}

#colorscale-axis>text {
    transform: translate(200px, 30px);
}

#data-tooltip-text {
    font-size: 10px;
}

/* Color Scheme Selector */
#color-scheme-menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

.rotate {
    animation: oneRoundRotation 0.5s ease-in-out;
}

@keyframes oneRoundRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#color-scheme-menu {
    width: 250px;
    top: 35px;
    left: 0;
    font-size: 12px;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px 2px #eaeaea;
}

#color-scheme-menu>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3px 0;
    padding: 0 5px;
    height: 27px;
    box-sizing: border-box;
    border: 2px solid;
}

#color-scheme-menu>div:last-child {
    margin-bottom: 0;
}

#color-scheme-menu h4 {
    margin: 0;
    height: 12px;
    width: 80px;
    text-align: center;
}

#color-scheme-blocks {
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
}

#color-scheme-blocks>div {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin: 0
}

#color-gradient-button {
    width: 16px;
    height: 16px;
    opacity: 80%;
}

/* JCS Menu */
#control-panel {
    width: 100%;
    min-width: 600px;
    padding: 0;
    margin: 0;
    height: calc(100vh - 625px);
    font-size: 12px;
    justify-content: space-between;
    box-sizing: border-box;
    display: inline-flex;
    background: #eaeaea;
}

#data-selector, #variable-selector {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
}

#data-selector {
    width: calc(45% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    box-sizing: border-box;
    padding: 5px 10px;
    overflow: auto;
}

#data-selector>div {
    width: 100%;
}

#filename {
    overflow-x: auto;
}

#example-data-selector {
    font-size: 12px;
    width: 200px;
}

#data-selector div {
    margin-bottom: 5px;
}

#custom-data>input {
    font-size: 12px;
}

#variable-selector {
    position: relative;
    width: 55%;
    overflow: visible;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
}

#variable-selector-title, #variables>div {
    box-sizing: border-box;
    border-radius: 0;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2px 0;
    padding: 1px 5px;
}

#variables>div {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #eaeaea;
}

#variables {
    max-height: calc(100% - 25px);
    border-radius: 0;
    margin: 0;
    overflow: auto;
    /* Hide scroll bar for Firefox */
    scrollbar-width: none;
    /* Hide scroll bar for IE */
    -ms-overflow-style: none;
}

#variables::-webkit-scrollbar {
    /* Hide scroll bar for Chrome, Safari */
    display: none;
}

#variable-selector p {
    background: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.variable-row.dragged, .variable-row.dragged div{
    opacity: 0.5;
    background-color: #eaeaea;
}

#controller-title {
    width: 55px;
    display: flex;
    gap: 11px;
}

.variables {
    width: 75%;
    max-height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
}

.variable-controllers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    box-sizing: border-box;
}

.drag-and-drop-icons {
    width: 10px;
    height: 10px;
    opacity: 50%;
}

#start-render-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 10px;
}